<!DOCTYPE html>
<html>
  <head>
    <title>Kaitlyn's blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Kaitlyn's Blog</a></h1>
    </header>

    <h1>Welcome</h1>
    <h2>A Short Intro</h2>
    <p>This is a short intro to my blog.</p>
    <h2>An Addendum</h2>
    <p>That was <em>pretty</em> short, wasn't it?</p>

    <article>
      <time>published: 01.08.2021, 16:16</time>
      <h2><a href="">My first post</a></h2>
      <p>This is my <strike>first</strike> second post!</p>
    </article>

    <article>
      <time>published: 08.01.2021, 16:17</time>
      <h2><a href="">My second post</a></h2>
      <p>This is my <strike>second</strike> third post!</p>
    </article>

  </body>
</html>
